# Default values for checkout.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: 859092166102.dkr.ecr.us-west-2.amazonaws.com/retail-store-checkout
  pullPolicy: Always
  # Updated automatically by GitHub Actions (GitOps)
  tag: "571aaf53caa98dbf86950e808f4bf63448bab953"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 128m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: []

metrics:
  enabled: true
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"

configMap:
  create: true
  name:

app:
  persistence:
    provider: in-memory
    redis:
      endpoint: ""
  endpoints:
    orders: http://retail-store-orders:80

redis:
  create: false
  image:
    repository: public.ecr.aws/docker/library/redis
    pullPolicy: IfNotPresent
    tag: "571aaf53caa98dbf86950e808f4bf63448bab953"
  service:
    type: ClusterIP
    port: 6379
  podAnnotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

securityGroups:
  create: false
  securityGroupIds: []

opentelemetry:
  enabled: false
  instrumentation: ""

podDisruptionBudget:
  enabled: false
  minAvailable: 2
  maxUnavailable: 1
